---
import { useI18n } from "../i18n";

const { currentLocale } = Astro;
const i18n = useI18n({ currentLocale });
---

<header
  class="fixed top-0 w-[90%] md:w-[75%] z-50 border-[1px] border-white rounded-full mt-5 md:mt-10 px-2 py-2 md:py-1"
>
  <nav class="flex flex-wrap justify-evenly gap-x-4">
    <a
      href="#home"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.HOME}</a
    >
    <a
      href="#education"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.EDUCATION}</a
    >
    <a
      href="#skills"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.SKILLS}</a
    >
    <a
      href="#projects"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.PROJECTS}</a
    >
    <a
      href="#about"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.ABOUT}</a
    >
    <a
      href="#contact"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.CONTACT}</a
    >
  </nav>
</header>
